@model UsuarioModel


<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Olá, @Model.Nome</a>
<div class="btn-abrir-menu" id="btn-menu">
    <i class="bi bi-list"></i>
</div>
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav ">
        <li class="nav-item">
            <a class="nav-link btn" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
        </li>
        @if (Model.Perfil == SistemaDeNotas.Enums.PerfilEnum.Padrao)
        {
            <li class="nav-item">
                <a class="nav-link btn" asp-area="" asp-controller="Nota" asp-action="Index">Notas</a>
        </li>
        }
        
        @if(Model.Perfil == SistemaDeNotas.Enums.PerfilEnum.Admin){
            <li class="nav-item">
                <a class="nav-link btn" asp-area="" asp-controller="Usuario" asp-action="Index">Usuarios</a>
            </li>
        }
        @if (Model.Perfil == SistemaDeNotas.Enums.PerfilEnum.Admin)
        {
            <li class="nav-item">
                <a class="nav-link btn" asp-area="" asp-controller="AdminNotas" asp-action="Index">Gerenciar Notas</a>
            </li>
        }
        @if (Model.Perfil == SistemaDeNotas.Enums.PerfilEnum.Admin)
        {
            <li class="nav-item">
                <a class="nav-link btn" asp-area="" asp-controller="Avisos" asp-action="Index">Gerenciar Avisos</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link btn" asp-area="" asp-controller="AlterarSenha" asp-action="Index">Alterar Senha</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn" asp-area="" asp-controller="Login" asp-action="Sair">Sair</a>
        </li>

    </ul>
</div>