*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .login {
        max-width: 50vh;
  }

}


body {
    /* cores de texto */
    --text-white: #ffffff;
    --text-dark: #142136;
    /* cores de fundo */
    --bg-grey-light: #f5f5f5;
    --bg-white: #ffffff;
    --bg-blue-dark: #142136;
    --bg-indigo: #6366f1;
    line-height: 1.7;
    background-color: var(--bg-grey-light);
    color: var(--text-dark)
}

.field-validation-error{

    color: red;
}

.close-alert{
    position: absolute;
    right: -10px;
    top:-15px;
    border-radius: 15px;
    width: 30px;
    height: 31px;
}


.dark {
    --text-white: #e6e6e6;
    --text-dark: #ffffff;
    --bg-grey-light: #1e1e1e;
    --bg-white: #22395d;
    --bg-blue-dark: #142136;
    --bg-indigo: #7577e1;
}


.text-wrapper {

    background-color: var(--bg-white);

}

.paragraph {
    color: var(--text-dark);
}

.heading {
    color: var(--text-dark);
}


.button {
    background-color: var(--bg-indigo);
    color: var(--text-white);
}



.navbar-nav {
}

@media (pointer: coarse) {
    .navbar-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: stretch;
        align-content: center;
        margin-top: 10px;

    }
}
.modal-content {
    background-color: var(--bg-grey-light);
    
}

@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

#content {
    background: #fff;
    color: #666;
    width: 75%;
    max-width: 900px;
    box-shadow: 0 0 10px #ccc;
    line-height: 1.6em;
    display: block;
    border-bottom: 2px solid #ddd;
    border-radius: 3px 3px 5px 5px;
    font-size: 110%;
    margin: 25px auto 40px;
    padding: 25px;
}

.awal {
    float: left;
    color: #f35d5c;
    background: #fff;
    line-height: 50px;
    padding-right: 10px;
    font-family: times;
    font-size: 50px;
}

.smoothscroll-top {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99;
    background-color: #142136;
    color: #fff;
    width: 47px;
    height: 44px;
    line-height: 44px;
    right: 25px;
    bottom: -25px;
    padding-top: 2px;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    transition-delay: .2s;
}

    .smoothscroll-top:hover {
        background-color: #d19300;
        color: #fff;
        transition: all .2s ease-in-out;
        transition-delay: 0;
    }

    .smoothscroll-top.show {
        visibility: visible;
        cursor: pointer;
        opacity: 1;
        bottom: 25px;
    }

    .smoothscroll-top i.fa {
        line-height: inherit;
    }



@charset "utf-8";


:root {
    --color-white: #fff;
    --color-red: red;
    --color-dark1: #181818;
    --color-dark2: #1e1e1e;
    --color-dark3: #067bb7;
    --color-purple1: #9333ff;
    --color-purple2: indigo;
}



.content form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.span-required {
    display: none;
    font-size: 12px;
    margin: 3px 0 0 1px;
    color: var(--color-red);
}

.inputs {
    padding: 8px 5px;
    outline: none;
    border-radius: 5px;
    border: 2px solid var(--color-dark1);
    width: 100%;
    box-sizing: border-box;
    transition: 0.5s;
}

.inputs:focus {
        border-color: var(--color-dark3);
}

.box-select {
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    gap: 1rem;
}

footer {
    display: block;
    position: relative;
    width: 100%;
    clear: both;
}

